<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
<header>
<h1>
  {{title}}
  </h1>
</header>
<nav *ngIf="authInfo">
  <a *ngIf="authInfo.Auth_Role == 'admin'" routerLink="/student" routerLinkActive="active">Student</a>
  <a *ngIf="authInfo.Auth_Role == 'admin'" routerLink="/families" routerLinkActive="active">Family</a>
  <a *ngIf="authInfo.Auth_Role == 'admin'" routerLink="/registration" routerLinkActive="active">Registration</a>
	<a *ngIf="authInfo.Auth_Role == 'admin'" routerLink="/class" routerLinkActive="active">Classes</a>
	<a *ngIf="authInfo.Auth_Role == 'admin'" routerLink="/teacher" routerLinkActive="active">Teachers</a>
	<a *ngIf="authInfo.Auth_Role == 'admin'" routerLink="/admin" routerLinkActive="active">Administration</a>
  <a *ngIf="authInfo" (click)="updatePassword.open()" style="color: #607D8B">Password</a>
  <a href="./faq/faq.html" target="_blank" style="float: right">Help</a>

</nav>
<router-outlet></router-outlet>
<modal #updatePassword>
  <modal-header [show-close]="true"><h3>Update Password</h3></modal-header>
  <modal-body>
    <form #form="ngForm" (ngSubmit)="validatePassword(form.value)">
      <div id="pass-status" style="color: red">{{passError}}</div>
      <label class="app-label">New Password: </label>
      <input
        required
        type="password"
        name="Auth_Password"
        [(ngModel)]="Auth_Password">
      <br>

      <label class="app-label">Retype Password: </label>
      <input
        required
        type="password"
        name="Check_Password"
        [(ngModel)]="Check_Password">
      <br>

      <button type="Submit" [disabled]="!form.valid">Submit</button>
    </form>
  </modal-body>
</modal>
