/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 150%;
  font-family: "Open Sans", sans-serif;
  color: #4e5359;
  background-color: #f3f3f5;
  margin-left: 100px;
}
body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 83, 89, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

@media only screen and (min-width: 768px) {
  body::after {
    display: none;
  }
}

a {
  color: #a9c056;
  text-decoration: none;
}

/* --------------------------------

Main components

-------------------------------- */
header {
  position: relative;
  height: 180px;
  line-height: 180px;
  text-align: center;
  background-color: #a9c056;
}
header h1 {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 240px;
    line-height: 240px;
  }
  header h1 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
  }

  label {
    width:100px;
    clear:left;
    text-align:right;
    padding-right:10px;
}
/*
input, label {
    float:left;
}
*/
}


.classroom-label{
  width: 85px;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.item-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 720px;
}
.item-list tr {
  cursor: pointer;
  position: relative;
  left: 0;

  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.item-list tr.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.item-list tr:hover {
  color: #607D8B;
  background-color: #c3c3c3;
  left: .1em;
}
.item-list tr.noHover:hover {
  color: #000000;
  background-color: #FFFFFF;
  left: .1em;
}
.item-list .text {
  position: relative;
  top: -3px;
}
.item-list .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
button.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}
/*
div {
  width: 600px;
}
*/
table {
  border-collapse: collapse;
  width: 600px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

select {
  width: 160px;
}

